---
// const pathname = new URL(Astro.request.url).pathname;
// const currentPath = pathname.slice(1); // remove the first "/"
---

<!-- astro way it do not work when I deploy on netlify --><!-- <div class="nav-links">
  <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
  <a class={currentPath === "work" ? "active" : ""} href="/work">Portfolio</a>
  <a class={currentPath === "about" ? "active" : ""} href="/about">About</a>
</div> -->
<div class="nav-links">
  <a class="active" href="/">Home</a>
  <a href="/work">Portfolio</a>
  <a href="/about">About Me</a>
</div>

<script>
  // const navLinks = document.querySelectorAll(".nav-links a");

  // navLinks.forEach((link) => {
  //   link.classList.remove("active");

  //   // `slice` here to remove the first `/` in pathname
  //   const currentPath = window.location.pathname.slice(1);

  //   // `link.href` returns a whole url, such as: "https://milanzivanov.com/about" and we only need the last part
  //   const hrefArray = link.href.split("/");

  //   const thisPath = hrefArray[hrefArray.length - 1];

  //   if (currentPath === thisPath) {
  //     link.classList.add("active");
  //   }
  // });

  // 2

  const nav = document.querySelector(".nav-links");
  const navLinks = nav.querySelectorAll("a");
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    } else {
      link.classList.remove("active");
    }
  });
</script>
