---
// const pathname = new URL(Astro.request.url).pathname;
const currentPath = Astro.url.pathname.replace(/^\/(.+)/, "$1");

// remove the first "/"
// const currentPath = pathname.slice(1);
// const currentPath = "/" + pathname.substring(1);
// const currentPath = pathname.match(/\/(.+)/)[1];

console.log(currentPath);
// console.log(currentPath === pathname);
---

<!-- astro way it do not work when I deploy on netlify --><!-- <div class="nav-links">
  <a class={currentPath === "/" ? "active" : ""} href="/">Home</a>
  <a class={currentPath === "work" ? "active" : ""} href="work">Portfolio</a>
  <a class={currentPath === "about" ? "active" : ""} href="about">About</a>
</div> -->
<nav>
  <a class="active" href="/">Home</a>
  <a href="work">Portfolio</a>
  <a href="about">About Me</a>
</nav>

<style>
  nav a.active {
    color: aqua;
  }
</style>
<script>
  // const currentPath = Astro.url.pathname.replace(/\/$/, "");
  // const pathname = window.location.pathname;
  // const currentPath = pathname.slice(1);
  // console.log("currentPath", currentPath);
  // console.log("pathname", pathname);
  // console.log(currentPath === pathname);

  const navLinks = document.querySelectorAll("nav a");

  navLinks.forEach((link) => {
    link.classList.remove("active");

    // `slice` here to remove the first `/` in pathname
    const currentPath = window.location.pathname.slice(1);
    console.log(currentPath);

    // `link.href` returns a whole url, such as: "https://milanzivanov.com/about" and we only need the last part
    const hrefArray = link.href.split("/");
    console.log(hrefArray);
    const thisPath = hrefArray[hrefArray.length - 1];
    console.log(thisPath);

    if (currentPath === thisPath) {
      link.classList.add("active");
    }
  });
</script>
