---
const pathname = new URL(Astro.request.url).pathname;
const originalString = pathname;
let currentPath = originalString.replace(/^\/|\/$/g, "");
---

<div class="nav-links">
  <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
  <a class={currentPath === "work" ? "active" : ""} href="work">Portfolio</a>
  <a class={currentPath === "about" ? "active" : ""} href="about">About</a>
  <a href="https://github.com/milanzivanov" target="_blank">GitHub</a>
  <a href="https://www.linkedin.com/in/milan-%C5%BEivanov1983/" target="_blank"
    >LinkedIn</a
  >
</div>
