---
---

<div class="nav-links__mobile">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/work">Portfolio</a>
  <a href="https://github.com/milanzivanov" target="_blank">GitHub</a>
</div>
