---
import Header from "../components/Header.astro";
import NavigationForMobile from "../components/NavigationForMobile.astro";
---

<html lang="en">
  <head> </head>
  <body>
    <Header />
    <NavigationForMobile />
    <slot>
      <p>This is my fallback content, if there is no child passed into slot</p>
    </slot>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
